@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --time-duration: 1s;
    --primary-color: #227093;
    --secondary-color: #d1ccc0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.5s ease;
}

nav {
    background-color: var(--primary-color);
    border-right: 1px solid rgba(200, 200, 200, 0.1);
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    max-width: 200px;
    transform: translateX(-100%);
    z-index: 100;
}

body.show-nav {
    transform: translate(160px);
}

nav img {
    padding: 10px 20px;
    border-radius: 50%;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin-top: 40px;
}

nav ul li{
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
    text-align: center;
    padding: 20px;
}

nav ul li:first-of-type{
    border-top: 1px solid rgba(200, 200, 200, 0.1);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration:underline;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    color: white; 
    padding: 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    font-size: 20px;
}

header h2 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

button {
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 0;
    padding: 8px 10px;
    cursor: pointer;
    color: black;
}

.toggle {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    width: 800px;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*add display property here*/
    display: none;
}

.modal-container.show-modal {
    display: block;
}

.modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px; 
    overflow: hidden; 
    animation-name: modalopen;
    animation-duration: var(--time-duration);
}

.modal-header {
    background-color: var(--primary-color);
    padding: 15px;
    color: white;
}

.modal-header h3 {
    margin: 0;
}

.modal-content p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.modal-form div {
    margin: 15px 0;
    text-align: center;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-form input {
    width: 80%;
    padding: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.close-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: white;
}

.submit-btn {
    background-color: #227093;
    margin-left: 40px;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
}

@keyframes modalopen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}